
.j4
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 50px;
    left: 300px;
}

.k4
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 50px;
    left: 350px;
}

.l4
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 50px;
    left: 400px;
}
    
.h5    
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 100px;
    left: 200px;
}

.i5
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 100px;
    left: 250px;
}

.j5
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 100px;
    left: 300px;
}

.k5
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 100px;
    left: 350px;
}

.l5
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 100px;
    left: 400px;
}

.m5
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 100px;
    left: 450px;
}

.n5
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 100px;
    left: 500px;
}

.g6
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 150px;
    left: 150px;
}

.h6
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 150px;
    left: 200px;
}

.i6
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 150px;
    left: 250px;
}

.j6
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 150px;
    left: 300px;
}

.k6
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 150px;
    left: 350px;
}
        
.l6
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 150px;
    left: 400px;
}

.m6
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 150px;
    left: 450px;
}

.n6
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 150px;
    left: 500px;
}

.o6
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 150px;
    left: 550px;
}

.f7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 200px;
    left: 100px;
}

.g7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 200px;
    left: 150px;
}

.h7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 200px;
    left: 200px;
}

.i7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 200px;
    left: 250px;
}

.j7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 200px;
    left: 300px;
}

.k7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 200px;
    left: 350px;
}

.l7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 200px;
    left: 400px;
}

.m7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 200px;
    left: 450px;
}

.n7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 200px;
    left: 500px;
}

.o7
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 200px;
    left: 550px;
}

.f8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 250px;
    left: 100px;
}

.g8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top: 250px;
    left: 150px;
}

.h8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
    top: 250px;
    left: 200px;
}

.i8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
    top: 250px;
    left: 250px;
}

.j8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top: 250px;
    left: 300px;
}

.k8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top: 250px;
    left: 350px;
}

.l8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 250px;
    left: 400px;
}

.m8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 250px;
    left: 450px;
}

.n8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 250px;
    left: 500px;
}

.o8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 250px;
    left: 550px;
}

.p8
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 250px;
    left: 600px;
}

.e9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:300px;
    left: 50px;
}

.f9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top:300px;
    left: 100px;
}

.g9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
    top:300px;
    left: 150px;
}

.h9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
    top:300px;
    left: 200px;
}

.i9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,255,255);
    top:300px;
    left: 250px;
}

.j9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top:300px;
    left: 300px;
}

.k9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top:300px;
    left: 350px;
}

.l9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(191,191,191);
    top:300px;
    left: 400px;
}

.m9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:300px;
    left: 450px;
}

.n9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:300px;
    left: 500px;
}

.o9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:300px;
    left: 550px;
}

.p9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:300px;
    left: 600px;
}

.q9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:300px;
    left: 650px;
}

.r9
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:300px;
    left: 700px;
}

.e10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:350px;
    left: 50px;
}

.f10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top:350px;
    left: 100px;
}

.g10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top:350px;
    left: 150px;
}

.h10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top:350px;
    left: 200px;
}

.i10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top:350px;
    left: 250px;
}

.j10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,176,240);
    top:350px;
    left: 300px;
}

.k10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(191,191,191);
    top:350px;
    left: 350px;
}

.l10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(191,191,191);
    top:350px;
    left: 400px;
}

.m10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:350px;
    left: 450px;
}

.n10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:350px;
    left: 500px;
}

.o10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:350px;
    left: 550px;
}

.p10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:350px;
    left: 600px;
}

.q10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:350px;
    left: 650px;
}

.r10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:350px;
    left: 700px;
}

.s10
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:350px;
    left: 750px;
}

.f11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:400px;
    left: 100px;
}

.g11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(191,191,191);
    top:400px;
    left: 150px;
}

.h11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(191,191,191);
    top:400px;
    left: 200px;
}

.i11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(191,191,191);
    top:400px;
    left: 250px;
}

.j11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(191,191,191);
    top:400px;
    left: 300px;
}

.k11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(191,191,191);
    top:400px;
    left: 350px;
}

.l11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:400px;
    left: 400px;
}

.m11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:400px;
    left: 450px;
}

.n11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:400px;
    left: 500px;
}

.o11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top:400px;
    left: 550px;
}

.p11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:400px;
    left: 600px;
}

.q11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:400px;
    left: 650px;
}

.r11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:400px;
    left: 700px;
}

.s11
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:400px;
    left: 750px;
}

.f12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:450px;
    left: 100px;
}

.g12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:450px;
    left: 150px;
}

.h12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:450px;
    left: 200px;
}

.i12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:450px;
    left: 250px;
}

.j12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:450px;
    left: 300px;
}

.k12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:450px;
    left: 350px;
}

.l12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top:450px;
    left: 400px;
}

.m12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 450px;
    left: 450px;
}

.n12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 450px;
    left: 500px;
}

.o12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top:450px;
    left: 550px;
}

.p12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top:450px;
    left: 600px;
}

.q12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 450px;
    left: 650px;
}

.r12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 450px;
    left: 700px;
}

.s12
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 450px;
    left: 750px;
}

.f13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 500px;
    left: 100px;
}

.g13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 500px;
    left: 150px;
}

.h13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 500px;
    left: 200px;
}

.i13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 500px;
    left: 250px;
}

.j13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 500px;
    left: 300px;
}

.k13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 500px;
    left: 350px;
}

.l13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 500px;
    left: 400px;
}

.m13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 500px;
    left: 450px;
}

.n13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 500px;
    left: 500px;
}

.o13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 500px;
    left: 550px;
}

.p13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 500px;
    left: 600px;
}

.q13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 500px;
    left: 650px;
}

.r13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 500px;
    left: 700px;
}

.s13
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 500px;
    left: 750px;
}

.f14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 550px;
    left: 100px;
}

.g14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 550px;
    left: 150px;
}

.h14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 550px;
    left: 200px;
}

.i14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 550px;
    left: 250px;
}

.j14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 550px;
    left: 300px;
}

.k14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 550px;
    left: 350px;
}

.l14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(255,0,0);
    top: 550px;
    left: 400px;
}

.m14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 550px;
    left: 450px;
}

.n14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 550px;
    left: 500px;
}

.o14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 550px;
    left: 550px;
}

.p14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 550px;
    left: 600px;
}

.q14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 550px;
    left: 650px;
}

.r14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 550px;
    left: 700px;
}

.s14
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 550px;
    left: 750px;
}

.f15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 600px;
    left: 100px;
}

.g15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 600px;
    left: 150px;
}

.h15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 600px;
    left: 200px;
}

.i15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 600px;
    left: 250px;
}

.j15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 600px;
    left: 300px;
}

.k15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 600px;
    left: 350px;
}

.l15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 600px;
    left: 400px;
}

.m15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 600px;
    left: 450px;
}

.n15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 600px;
    left: 500px;
}

.o15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 600px;
    left: 550px;
}

.p15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 600px;
    left: 600px;
}

.q15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 600px;
    left: 650px;
}

.r15
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 600px;
    left: 700px;
}

.f16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 650px;
    left: 100px;
}

.g16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 650px;
    left: 150px;
}

.h16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 650px;
    left: 200px;
}

.i16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 650px;
    left: 250px;
}

.j16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 650px;
    left: 300px;
}

.k16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 650px;
    left: 350px;
}

.l16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 650px;
    left: 400px;
}

.m16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 650px;
    left: 450px;
}

.n16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 650px;
    left: 500px;
}

.o16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 650px;
    left: 550px;
}

.p16
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 650px;
    left: 600px;
}

.f17
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 700px;
    left: 100px;
}

.g17
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 700px;
    left: 150px;
}

.h17
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 700px;
    left: 200px;
}

.i17
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 700px;
    left: 250px;
}

.m17
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 700px;
    left: 450px;
}

.n17
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 700px;
    left: 500px;
}

.o17
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(192,0,0);
    top: 700px;
    left: 550px;
}

.p17
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 700px;
    left: 600px;
}

.g18
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 750px;
    left: 150px;
}

.h18
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 750px;
    left: 200px;
}

.n18
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 750px;
    left: 500px;
}

.o18
{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(0,0,0);
    top: 750px;
    left: 550px;
}